{% extends 'layout.html' %}
{% block content %}

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h4 >Thanks for applying to join <a>Sa'ah world wide</a></h4>
                    <h3 >Next step :- <small >Message us now on whatsApp to upload your International Passport and Your image <a style="text-decoration: none;font-size: 1.7em" href="tel: +971547780288">+97 154 778 0288</a></small><p>please don't fail to upload it </p></h3>
                    <h3 >What happens next :- <small >Within a few days of receiving your application, we'll use a combination of technology and human intelligence to review  your information and we'll inform you whenever we are ready for the next step.</small></h3>
                    <h3 >If you have any question :- <small >Reply to this email <a href="mailto:worldwidesaah@gmail.com">(send mail),</a> and we'll respond as soon as we can. You can also email us if you need to update your resume or replace any of the information that you submitted on our site.</small></h3>
                    <br>
                    <p>Thanks for being part of our community.</p>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}